.skills-container {
    min-height         : 100vh;
    padding            : 50px 30px;
    background-color   : white;
    /* background-color: rgb(55, 3, 104); */
    text-align         : center;
}

.skills-container h1 {
    font-size: 4em;
}

.skills {
    flex-wrap      : wrap;
    display        : flex;
    justify-content: center;
    align-items    : flex-start;
}

.skills h3 {
    color    : rgb(55, 3, 104);
    font-size: 3.0em;
}

.card-skill {
    max-width: 400px;
    text-align      : left;
    border-radius   : 5px;
    box-shadow      : 3px 3px 3px rgba(0, 0, 0, .5);
    background-color: rgba(178, 34, 34, .1);
    margin          : 20px;
    padding         : 35px;
}

.card-skill div ul {
    font-size: 1.8em;
}