.contactContainer {
  padding-top: 30px;
  text-align : center;
  color      : white;

  h3 {
    color: gold;
  }
}

.connectButtons {
  margin-top       : 30px;
  /* min-height    : 500px; */
  flex             : 1;
  display          : flex;
  align-items      : center;
  flex-direction   : column;

  >a {
    text-decoration: none;
    min-width      : 20vmax;
    color          : white;
    font-size      : 1.2em;
    display        : block;
    margin         : 30px;
    padding        : 20px 30px;
    transition     : .5s;

    &:hover {
      font-size : 1.3em;
      transition: .5s;
      min-width : 21vmax;
    }
  }
}