.projectContainer {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex-direction : column;
  position       : relative;
  height         : 90vh;
  padding        : 20px;

  .selectedProject {
    color    : white;
    max-width: 800px;

    div.image-container{
      text-align: center;
    }

    >div h4 {
      color      : gold;
      font-weight: 700;
    }

    img {
      max-width    : 800px;
      margin-bottom: 10px;
      max-height   : 500px;
    }

    .buttonsContainer {
      margin: 10px 0;

      .button {
        display        : inline-flex;
        align-items    : center;
        margin-right   : 5px;
        text-decoration: none;

        >svg {
          margin-right: 5px;
        }
      }
    }
  }

  .projectList {
    display : flex;
    overflow: hidden;
    position: absolute;
    bottom  : 0;
    z-index : 1;
    gap     : 10px;

    .active {
      color           : purple;
      background-color: white;
    }

    >div {
      transition   : .5s;
      padding      : 5px 13px;
      border       : 1px solid #fff;
      border-radius: 50%;
      color        : white;
      cursor       : pointer;
      transition   : .5s;

      @media (max-width: 700px) {
        padding  : 3px 8px;
        font-size: 12px;
      }

      img {
        width: 100px;
      }

      &:hover {
        color           : purple;
        background-color: white;
      }
    }
  }
}