.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.imageProfile {
  display: flex;
  gap: 12px;
}

@media (max-width: 600px) {
  .imageProfile {
    justify-content: center;
    flex-direction: column !important;
    /* height: 100vh;
    display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-items: center; */
  }
}

.container .image-profile .image-profile__img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
