.workWithMe-container {
    min-height               : 100vh;
    padding                  : 50px 30px;
    /* background-color      : rgba(178, 34, 34, .1); */
    /* background-color      : white; */
    background-color         : rgb(55, 3, 104);
    text-align               : center;
}

.workWithMe-container h1 {
    font-size: 4em;
    color    : rgb(209, 231, 6);
}

.worksWithMe {
    flex-wrap      : wrap;
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : white;
}


.reasons {
    max-width          : 300px;
    text-align         : center;
    /* border-radius   : 5px; */
    /* box-shadow      : 3px 3px 3px rgba(0, 0, 0, .5); */
    /* background-color: rgba(178, 34, 34, .1); */
    margin             : 20px;
    padding            : 35px;
}

.reasons div p {
    font-size: 1.2em;
}